﻿@model ActorMovieViewModel
@using Microsoft.Extensions.Primitives;

@{
    ViewData["Title"] = "AddMovie";
}

<section class="module">
    <div class="container">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> @TempData["Error"].ToString()
            </div>
        }
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="font-alt mb-0">Add a movie to @Model.FirstName @Model.LastName</h1>
                <hr class="divider-w mt-10 mb-20">
                <form class="form" role="form" asp-controller="Actor" asp-action="AddMovie">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.ActorId" />
                        <select asp-for="MovieId" asp-items="Model.AvailableMovies"></select>
                        <span asp-validation-for="@Model.MovieId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-success">Add Movie</button>
                        @{ var referrer = this.Context.Request.Headers["Referer"]; }

                        @if (referrer != default(StringValues))
                        {
                            <a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

