﻿@model ActorViewModel
@using Microsoft.Extensions.Primitives;

@{
    ViewData["Title"] = "Create";
}

<section class="module">
    <div class="container">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> @TempData["Error"].ToString()
            </div>
        }
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="font-alt mb-0">Add new actor</h1>
                <hr class="divider-w mt-10 mb-20">
                <form class="form" role="form" asp-controller="Actor" asp-action="Create">
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" placeholder="First Name" asp-for="@Model.FirstName" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" placeholder="Last Name" asp-for="@Model.LastName" />
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" placeholder="Oscars" asp-for="@Model.Oscars" />
                        <span asp-validation-for="@Model.Oscars" class="text-danger"></span>
                    </div>
                    <div>
                        <input class="form-control input-lg" type="url" placeholder="Image Url" asp-for="@Model.ImageUrl" />
                        <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-success">Add Actor</button>
                        @{ var referrer = this.Context.Request.Headers["Referer"]; }

                        @if (referrer != default(StringValues))
                        {
                            <a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

