﻿@model ActorViewModel

@{
    ViewData["Title"] = "Details";
}
<section class="module">
    <div class="container">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> @TempData["Success"].ToString()
            </div>
        }
        <br />
        <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-8"><img src="@Model.ImageUrl" alt="@Model.FirstName @Model.LastName" /></div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="work-details">
                    <h5 class="work-details-title font-alt">Actor Details</h5>
                    <ul>
                        <li>
                            <strong>FirstName: </strong><span class="font-serif">@Model.FirstName</span>
                        </li>
                        <li>
                            <strong>LastName: </strong><span class="font-serif">@Model.LastName</span>
                        </li>
                        <li>
                            <strong>Oscars: </strong><span class="font-serif">@Model.Oscars</span>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                        <li>
                            @*<a asp-controller="Actors" asp-action="Index" class="btn btn-success btn-round">Edit</a>*@
                            <a asp-controller="Actors" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success btn-round">Edit</a>
                            <a asp-controller="Actors" asp-action="AddMovie" asp-route-id="@Model.Id" class="btn btn-success btn-round">Add Movie</a>
                            
                            <button class="btn btn-danger btn-round" data-toggle="modal" data-target="#myModal">
                                Remove
                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Delete Actor</h4>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete @Model.FirstName @Model.LastName from the database?
                                        </div>
                                        <div class="modal-footer">
                                            <form class="form" role="form" asp-controller="Actors" asp-action="Remove" asp-route-id="@Model.Id" method="post">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete Actor</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<hr class="divider-w">
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Related Movies</h2>
            </div>
        </div>
        <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
            @foreach (var item in Model.ActorMovies)
            {
                <li class="work-item illustration webdesign">
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Movie.Id">
                        <div class="work-image"><img src="@item.Movie.ImageUrl" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">@item.Movie.Name</h3>
                            <div class="work-descr">Release Date: @item.Movie.ReleaseDate</div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>
