﻿@model ActorViewModel
@using Microsoft.Extensions.Primitives;

@{
    ViewData["Title"] = "Edit";
}

<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1 class="font-alt mb-0">Edit Actor</h1>
                <hr class="divider-w mt-10 mb-20">
                <form class="form" role="form" asp-controller="Actors" asp-action="Edit" method="post">
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" placeholder="First Name" asp-for="@Model.FirstName" />
                    </div>
                    <div class="form-group"> 
                        <input class="form-control input-lg" type="text" placeholder="Last Name" asp-for="@Model.LastName" />
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" placeholder="Oscars" asp-for="@Model.Oscars" />
                    </div>
                    <div>
                        <input class="form-control input-lg" type="url" placeholder="Image Url" asp-for="@Model.ImageUrl" />
                    </div>
                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-success">Edit Actor</button>
                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-default btn-round">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

