﻿@model ICollection<ActorViewModel>

@{
    ViewData["Title"] = "Index";
}
<section class="module" style="background-color: #171616">
    <div class="container">
        @if (TempData["SuccessRemoved"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> @TempData["SuccessRemoved"].ToString()
            </div>
        }
            <div>
                <form asp-controller="Actors" asp-action="Index" method="get">
                    <div>
                        <input type="text" name="SearchString">
                        <input type="submit" class="btn btn-w btn-round" value="Search" />
                        <a asp-controller="Actors" asp-action="Index" class="btn btn-w btn-round">Show All</a>
                    </div>
                </form>
            </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <ul class="filter font-alt" id="filters">
                    <li><a class="current wow fadeInUp white-text" href="#" data-filter="*">All</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".A" data-wow-delay="0.2s">A</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".B" data-wow-delay="0.4s">B</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".C" data-wow-delay="0.6s">C</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".D" data-wow-delay="0.6s">D</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".E" data-wow-delay="0.6s">E</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".F" data-wow-delay="0.6s">F</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".G" data-wow-delay="0.6s">G</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".H" data-wow-delay="0.6s">H</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".I" data-wow-delay="0.6s">I</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".J" data-wow-delay="0.6s">J</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".K" data-wow-delay="0.6s">K</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".L" data-wow-delay="0.6s">L</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".M" data-wow-delay="0.6s">M</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".N" data-wow-delay="0.6s">N</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".O" data-wow-delay="0.6s">O</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".P" data-wow-delay="0.6s">P</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".Q" data-wow-delay="0.6s">Q</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".R" data-wow-delay="0.6s">R</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".S" data-wow-delay="0.6s">S</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".T" data-wow-delay="0.6s">T</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".U" data-wow-delay="0.6s">U</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".V" data-wow-delay="0.6s">V</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".W" data-wow-delay="0.6s">W</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".X" data-wow-delay="0.6s">X</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".Y" data-wow-delay="0.6s">Y</a></li>
                    <li><a class="wow fadeInUp white-text" href="#" data-filter=".Z" data-wow-delay="0.6s">Z</a></li>
                </ul>
            </div>
        </div>
        <ul class="works-grid works-grid-gut works-hover-w works-grid-3" id="works-grid">
            @foreach (var item in Model)
            {
                <li class="work-item @item.FirstName[0] webdesign">
                    <a asp-controller="Actors" asp-action="Details" asp-route-id="@item.Id">
                        <div class="work-image"><img src="@item.ImageUrl" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">@item.FirstName @item.LastName</h3>
                            <div class="work-descr">Oscars: @item.Oscars</div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>
