﻿
@{
    ViewData["Title"] = "Index";
}

<section class="home-section home-parallax home-fade home-full-height bg-dark bg-dark-30" id="home" data-background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmFLsL1ZiiS9jmvToHP-C3qdL7LNkqKlLnoQ0yQeWmVqIm6xm3">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-4">Coming soon</div>
            <div class="font-alt">
                This page is still under construction. Sorry for the inconvenience!
            </div>
            <div class="font-alt mt-30"><a asp-controller="Home" asp-action="Index" class="btn btn-border-w btn-round">Back to home page</a></div>
        </div>
    </div>
</section>

