﻿@model PaginatedList<ActorAdminViewModel>
@{
    ViewData["Title"] = "Index";
}
<section class="module">
    <div class="container">
        <h2>All Actors</h2>
        <p>
            <a asp-area="Administration" asp-controller="WorkInProgress" asp-action="Index" class="btn btn-default">Create New</a>
        </p>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-area="Administration" asp-controller="ActorsAdmin" asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <a asp-area="Administration" asp-controller="ActorsAdmin" asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">First Name</a>
                    </th>
                    <th>
                        <a asp-area="Administration" asp-controller="ActorsAdmin" asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last Name</a>
                    </th>
                    <th>
                        <a asp-area="Administration" asp-controller="ActorsAdmin" asp-action="Index" asp-route-sortOrder="@ViewData["OscarsSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Oscars</a>
                    </th>
                    <th>
                        <a asp-area="Administration" asp-controller="ActorsAdmin" asp-action="Index" asp-route-sortOrder="@ViewData["CreatedDateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Created On</a>
                    </th>
                    <th>
                        <a asp-area="Administration" asp-controller="ActorsAdmin" asp-action="Index" asp-route-sortOrder="@ViewData["ModifiedDateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Modified On</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Oscars)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            <a asp-area="Administration" asp-controller="WorkInProgress" asp-action="Index">Edit</a> |
                            <a asp-area="Administration" asp-controller="WorkInProgress" asp-action="Index">Details</a> |
                            <a asp-area="Administration" asp-controller="WorkInProgress" asp-action="Index">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-area="Administration"
           asp-controller="ActorsAdmin"
           asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            <<
        </a>
        <a asp-area="Administration"
           asp-controller="ActorsAdmin"
           asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            >>
        </a>

    </div>
</section>
