﻿<!DOCTYPE html>

<html lang="en-US" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>@ViewData["Title"] - YouWatch</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="/image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="/image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="/image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="/image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- Template specific stylesheets-->
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@



    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Volkhov:400i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
    <link rel="stylesheet" href="/lib/animate.css/animate.css">
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="/lib/flexslider/flexslider.css">
    <link rel="stylesheet" href="/lib/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/lib/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/lib/simple-text-rotator/simpletextrotator.css">
    <!-- Main stylesheet and color file-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" id="color-scheme" href="/css/colors/default.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">

    <main>
        <div class="page-loader">
            <div>
                <div class="loader">Loading...</div>
            </div>
        </div>
        <nav class="navbar navbar-custom navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="dropdown-toggle">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><a asp-controller="Home" asp-action="Index" class="large-text navbar-brand">You Watch</a>
                    <div class="collapse navbar-collapse" id="custom-collapse">
                        <ul class="nav navbar-nav navbar-right ">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Administration</a>
                                        <ul class="dropdown-menu">
                                            <li> <a asp-area="Administration" asp-controller="ActorsAdmin" asp-action="Index">Actors</a></li>
                                        </ul>
                                    </li>
                                }
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Movies</a>
                                    <ul class="dropdown-menu">
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <li> <a asp-controller="Movies" asp-action="Create">Add Movie</a></li>
                                            <li> <a asp-controller="WorkInProgressAll" asp-action="Index">Remove Movie</a></li>
                                            <li> <a asp-controller="Movies" asp-action="Update">Update Movie</a></li>
                                        }
                                        <li> <a asp-controller="Movies" asp-action="Index">All Movies</a></li>
                                        <li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Top 10 By</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Genre</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Action</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Adventure</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Animation</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Comedy</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Crime</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Drama</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Fantasy</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Historical</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Horror</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Romance</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Thriller</a></li>
                                                        <li><a asp-controller="WorkInProgressAll" asp-action="Index">Western</a></li>
                                                    </ul>
                                                </li>
                                                <li><a asp-controller="WorkInProgressAll" asp-action="Index">Oscars</a></li>
                                                <li><a asp-controller="WorkInProgressAll" asp-action="Index">Rating</a></li>
                                            </ul>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Search By</a>
                                            <ul class="dropdown-menu">
                                                <li><a asp-controller="WorkInProgressAll" asp-action="Index">Actors</a></li>
                                                <li><a asp-controller="WorkInProgressAll" asp-action="Index">Director</a></li>
                                                <li><a asp-controller="WorkInProgressAll" asp-action="Index">Genres</a></li>
                                                <li><a asp-controller="WorkInProgressAll" asp-action="Index">Key words</a></li>
                                                <li><a asp-controller="WorkInProgressAll" asp-action="Index">Oscars</a></li>
                                                <li><a asp-controller="WorkInProgressAll" asp-action="Index">Producers</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Actors</a>
                                    <ul class="dropdown-menu">
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <li><a asp-controller="Actors" asp-action="Create">Add Actor</a></li>
                                        }
                                        <li> <a asp-controller="Actors" asp-action="Index">All Actors</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Directors</a>
                                    <ul class="dropdown-menu">
                                        @*@if (User.IsInRole("Administrator"))
                                            {
                                                <li><a asp-controller="Actors" asp-action="Create">Add Actor</a></li>
                                            }*@
                                        <li> <a asp-controller="Directors" asp-action="Index">All Directors</a></li>
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <li> <a asp-controller="Directors" asp-action="Create">Add Director</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            <li class="btn-b">
                            <li>
                                @await Html.PartialAsync("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </main>
    @RenderBody()

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/lib/smoothscroll.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>


