﻿@model int
@{
    ViewData["Title"] = "Error";
}



@{
    switch (Model)
    {
        case 400:
            ViewData["Icon"] = "fa fa-ban text-danger";
            ViewData["Title"] = "Error 400";
            ViewData["Description"] = "Your browser sent a request that this server could not understand.";
            break;
        case 401:
            ViewData["Icon"] = "fa fa-ban text-danger";
            ViewData["Title"] = "Error 401";
            ViewData["Description"] = "Sorry, but the page requires authentication.";
            break;
        case 403:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = "Error 403";
            ViewData["Description"] = "Sorry, but you don't have permission to access this page.";
            break;
        case 404:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = "Error 404";
            ViewData["Description"] = "Sorry, but the page you were looking for can't be found.";
            break;
        default:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = $"Error {Model}";
            ViewData["Description"] = "Well, this is embarrassing. An error occurred while processing your request. Rest assured, this problem has been logged and hamsters have been released to fix the problem.";
            break;
    }
}

<section class="home-section home-parallax home-fade home-full-height bg-dark bg-dark-30" id="home" data-background="https://i.ytimg.com/vi/TIY0J7IT5L4/maxresdefault.jpg">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-4">@ViewData["Title"]</div>
            <div class="font-alt">
                @ViewData["Description"]
            </div>
            <div class="font-alt mt-30"><a asp-controller="Home" asp-action="Index" class="btn btn-border-w btn-round">Back to home page</a></div>
        </div>
    </div>
</section>


