﻿@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="home-section home-parallax home-fade home-full-height bg-dark bg-dark-30" id="home" data-background="https://wallpapercave.com/wp/gJvyuLv.jpg">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt">
                About
            </div>
            <div class="font-alt mb-30 titan-title-size-4">You Watch</div>
            <div class="font-alt">
                Search movies - search for an exact title of a movie you are interested in.

            </div>
            <div class="font-alt">
                Oh, you don't have a title? Аlso your friend Karen isn't the best advisor for good movies to watch ?

            </div>
            <div class="font-alt">
                 Worry not, our friend, because you can browse by genres and / or by other people's rating so you can easily find whatever your soul is craving.

            </div>
            <div class="font-alt mt-30"><a asp-controller="Home" asp-action="Index" class="btn btn-border-w btn-round">Back to home page</a></div>
        </div>
    </div>
</section>

