﻿@{
    ViewData["Title"] = "Home Page";
}

<section class="home-section home-full-height bg-dark-30" id="home" data-background="">
    <div class="video-player" data-property="{videoURL:'https://youtu.be/TcMBFSGVi1c', containment:'.home-section', startAt:18, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
    </div>
    <div class="titan-caption">
        <div class="caption-content">
             <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div> 
           
            <div class="font-alt mb-40 titan-title-size-4">You Watch</div><a class="section-scroll btn btn-border-w btn-round" asp-controller="Home" asp-action="About">Learn More</a>
           
        </div>
    </div>
</section>
