﻿
@{
    ViewData["Title"] = "Register";
}
<div>
    <section class="home-section home-full-height bg-dark-30" id="home" data-background="images/section-5.jpg">
        <div>
            <h2>Register</h2>
        </div>
    </section>
</div>




