﻿@model MovieViewModel
@{
    ViewData["Title"] = "SingleDetail";
}

<section class="home-section home-full-height bg-dark-30" id="home" data-background="">
    <div class="video-player" data-property="{videoURL:'@Model.TrailerUrl', containment:'.home-section', startAt:18, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
    </div>
</section>
<section class="row">
    <div class="row">
        <div class="row multi-columns-row">
            <div class="col-sm-6">
                <div class="menu">
                    <div class="row">
                        <div class="col-sm-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main">
    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <div class="alt-module-subtitle">
                        <span class="holder-w"></span>
                        <h5 class="">Director</h5><span class="holder-w"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2" >
                    <h2 class="module-title font-alt mb-0">@Model.DirectorName</h2>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="row">
    <div class="row">
        <div class="row multi-columns-row">
            <div class="col-sm-6">
                <div class="menu">
                    <div class="row">
                        <div class="col-sm-8">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main">
    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <div class="alt-module-subtitle">
                        <span class="holder-w"></span>
                        <h5 class="font-serif">Genres</h5><span class="holder-w"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @foreach (var genre in Model.Genres)
                    {
                        <h2 class="module-title font-alt mb-0">@genre.ToString()</h2>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
<section class="row">
    <div class="row">
        <div class="row multi-columns-row">
            <div class="col-sm-6">
                <div class="menu">
                    <div class="row">
                        <div class="col-sm-8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main">
    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <div class="alt-module-subtitle">
                        <span class="holder-w"></span>
                        <h5 class="font-serif">Actors</h5><span class="holder-w"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @foreach (var actor in Model.Actors)
                    {
                        <h2 class="module-title font-alt mb-0">@actor.ToString()</h2>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
<section class="row">
    <div class="row">
        <div class="row multi-columns-row">
            <div class="col-sm-6">
                <div class="menu">
                    <div class="row">
                        <div class="col-sm-8">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main">
    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <div class="alt-module-subtitle">
                        <span class="holder-w"></span>
                        <h5 class="font-serif">Producers</h5><span class="holder-w"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    @foreach (var producer in Model.Producers)
                    {
                        <h2 class="module-title font-alt mb-0">@producer.ToString()</h2>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
<section class="row">
    <div class="row">
        <div class="row multi-columns-row">
            <div class="col-sm-6">
                <div class="menu">
                    <div class="row">
                        <div class="col-sm-8">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main">
    <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <div class="alt-module-subtitle">
                        <span class="holder-w"></span>
                        <h5 class="font-serif">Description</h5><span class="holder-w"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="module-title font-alt mb-0">@Model.Description</h2>
                </div>
            </div>
        </div>
    </section>
</div>













