﻿
@{
    ViewData["Title"] = "FilterByDirectorNameDetails";
}

<div class="background" style="background-color: #171616">
    <section class="module">
        <ul class="works-grid works-grid-3 works-grid-gut works-hover-d" id="works-grid">
            @foreach (var item in Model)
            {
                <li class="work-item illustration webdesign">
                    <a asp-controller="Movies" asp-action="Details" asp-route-name="@item.Id">
                        <div class="work-image"><img src="@item.ImageUrl" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">@item.Name</h3>
                            <div class="work-descr">Director: @item.DirectorName</div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </section>
</div>

