﻿@model ICollection<MovieViewModel>
@{
    ViewData["Title"] = "Details";
}
<div class="background" style="background-color: #171616">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="filter font-alt" id="filters">
                        <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
                        <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">Illustration</a></li>
                        <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">Marketing</a></li>
                        <li><a class="wow fadeInUp" href="#" data-filter=".photography" data-wow-delay="0.6s">Photography</a></li>
                        <li><a class="wow fadeInUp" href="#" data-filter=".webdesign" data-wow-delay="0.6s">Web Design</a></li>
                    </ul>
                </div>
            </div>
            <ul class="works-grid works-grid-3 works-grid-gut works-hover-d" id="works-grid">
                @foreach (var item in Model)
                {
                    <li class="work-item illustration webdesign">
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                            <div class="work-image"><img src="@item.ImageUrl" alt="Portfolio Item" /></div>
                            <div class="work-caption font-alt">
                                <h3 class="work-title">@item.Name</h3>
                                <div class="work-descr">Director: @item.DirectorName</div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>

