﻿@model MovieViewModel
@{
    ViewData["Title"] = "Update";
}
<section class="home-section home-full-height bg-dark-30" id="home" data-background="assets/images/section-5.jpg">
    <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=2Rxoz13Bthc', containment:'.home-section', startAt:18, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
    </div>

    <div class="titan-caption">
        <div class="caption-content">
            <section class="module">
                <div class="container">
                    <div class="col-md-8">
                        <div class="col-sm-8">
                            <h4 class="font-alt">Search movie</h4>
                            <hr class="divider-w mb-10">
                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Name" class="form-control" placeholder="Movie name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-round btn-b">Search movie</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/AutoCompleteMovie.js"></script>
}
