﻿@model DirectorViewModel
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Administrator"))
    {
        <div class="main">
            <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-0">
                            <div class="alt-module-subtitle">
                                <span class="holder-w"></span>
                                <a asp-controller="Directors" asp-action="Edit" asp-route-id="@Model.Id" class="module-title font-alt mb-0 navbar-transparent" style="border:#ff0000"> Edit </a>
                                <span class="holder-w"></span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-8">
                            <div class="alt-module-subtitle">
                                <span class="holder-w"></span>
                                <a asp-controller="Movies" asp-action="Edit" class="module-title font-alt mb-0 navbar-transparent" style="border:#ff0000"> Remove </a>
                                <span class="holder-w"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">

                        </div>
                    </div>
                </div>
            </section>
        </div>
    }
}

    <div class="main">
        <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="alt-module-subtitle">
                            <span class="holder-w"></span>
                            <h5 class="">Director</h5><span class="holder-w"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="module-title font-alt mb-0">@Model.FirstName @Model.LastName</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="row">
        <div class="row">
            <div class="row multi-columns-row">
                <div class="col-sm-6">
                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="main">
        <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="alt-module-subtitle">
                            <span class="holder-w"></span>
                            <h5 class="font-serif">Oscars</h5><span class="holder-w"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <h2 class="module-title font-alt mb-0">@Model.Oscars</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="row">
        <div class="row">
            <div class="row multi-columns-row">
                <div class="col-sm-6">
                    <div class="menu">
                        <div class="row">
                            <div class="col-sm-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="main">
        <section class="module bg-dark-30 parallax-bg restaurant-menu-bg" data-background=@Model.ImageUrl>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="alt-module-subtitle">
                            <span class="holder-w"></span>
                            <h5 class="font-serif">Filmography</h5><span class="holder-w"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        @foreach (var movie in Model.MovieCollection)
                        {
                            <h2 class="module-title font-alt mb-0">@movie.ToString()</h2>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>





