﻿@model DirectorViewModel

<section class="home-section home-full-height bg-dark-30" id="home" data-background="assets/images/section-5.jpg">
    <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=2Rxoz13Bthc', containment:'.home-section', startAt:18, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
    </div>

    <div class="titan-caption">
        <div class="caption-content">
            <section class="module">
                <div class="container">
                    <div class="col-md-8">
                        <div class="col-sm-8">
                            <h4 class="font-alt">Edit Director</h4>
                            <hr class="divider-w mb-10">
                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="FirstName" class="form-control" placeholder="First name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="LastName" class="form-control" placeholder="Last name" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Oscars" class="form-control" placeholder="Oscars" />
                                    <span asp-validation-for="Oscars" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="ImageUrl" class="form-control" placeholder="Image Url" />
                                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-round btn-b">Edit Director</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/AutoComplete.js"></script>
}


