﻿@model MovieViewModel
@{
    ViewData["Title"] = "FilterByDirectorName";
}

<section class="home-section home-full-height bg-dark-30" id="home" data-background="assets/images/section-5.jpg">
    <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=-NJLDrw5kIc', containment:'.home-section', startAt:18, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
    </div>
    <div class="titan-caption">
        <div class="caption-content">
            <section class="module">
                <div class="container">
                    <div class="col-md-8">
                        <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
                            <h4 class="font-alt">Search by director name</h4>
                            <hr class="divider-w mb-10">
                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="DirectorName" class="form-control" placeholder="Director Name" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-round btn-b">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

