﻿@model ICollection<DirectorViewModel>



<section class="module" style="background-color: #171616">
    <div class="container">
        <ul class="works-grid works-grid-3 works-grid-gut works-hover-d" id="works-grid">
            @foreach (var item in Model)
            {
                <li class="work-item illustration webdesign">
                    <a asp-controller="Directors" asp-action="Details" asp-route-id="@item.Id">
                        <div class="work-image"><img src="@item.ImageUrl" alt="Portfolio Item" /></div>
                        <div class="work-caption font-alt">
                            <h3 class="work-title">@item.FirstName @item.LastName</h3>
                            <div class="work-descr">Oscars: @item.Oscars </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</section>


