﻿@{
    ViewData["Title"] = "Access denied";
}

<section class="home-section home-parallax home-fade home-full-height bg-dark bg-dark-30" id="home" data-background="https://i0.wp.com/soulpost.ru/wp-content/uploads/2016/09/MTQwNTM4NzE5Njg0Nzk3Njcz.gif">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-4">Acccess Denied</div>
            <div class="font-alt">
                The page you were looking for is strictly guarded by Tony Stark, The Hulk, Batman, Superman and whoever your head can think of.
            </div>
            <div class="font-alt mt-30"><a asp-controller="Home" asp-action="Index" class="btn btn-border-w btn-round">Back to home page</a></div>
        </div>
    </div>
</section>
