﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<section class="home-section home-full-height bg-dark-30" id="home" data-background="assets/images/section-5.jpg">
    <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=G4VmJcZR0Yg', containment:'.home-section', startAt:18, mute:true, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
    </div>
    
    <div class="titan-caption">
        <div class="caption-content">
            <section class="module">
                <div class="container">
                    <div class="col-md-8">
                        <div class="col-sm-8">
                            <h4 class="font-alt">Register</h4>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <hr class="divider-w mb-10">
                            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                                <div class="form-group">
                                    <input asp-for="Email" class="form-control" placeholder="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="UserName" class="form-control" placeholder="Username" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-round btn-b">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
